* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: Montserrat, sans-serif;
  /* outline: 1px solid rgba(248, 3, 3, 0.774); */
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 60px;
}

body {
  background: #121517;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-size: clamp(2.188rem, 1.771rem + 2.08vw, 3.438rem);
}
h1 span {
  font-size: clamp(2rem, 1.066rem + 3.93vw, 5rem);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-size: clamp(0.75rem, 0.583rem + 0.83vw, 1.25rem);
}
h2 span {
  font-size: clamp(1.188rem, 1.063rem + 0.63vw, 1.563rem);
  color: #35c66b;
}
p {
  font-size: clamp(0.625rem, 0.5rem + 0.63vw, 1rem);
  color: #d9d9d9;
  font-weight: 400;
  line-height: 2;
  max-width: 420px;
}
button {
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  font-size: clamp(0.75rem, 0.516rem + 0.98vw, 1.5rem); /* clamp */
  padding: 12px 36px;
  border-radius: 82px;
  transition: 0.8s;
}
button:hover {
  transform: scale(1.1);
  background: #000;
  border: 2px solid #ffffff;
}
img {
  max-width: 350px;
  width: 100%;
}
#header {
  padding-block: 30px;
  top: 0;
  position: sticky;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.header,
.header nav {
  display: flex;
  align-items: center;
  gap: 140px;
}
.header h1 {
  font-size: clamp(1.188rem, 1.021rem + 0.83vw, 1.688rem);
  color: #35c66b;
}
.header nav a {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
}
.header nav a:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: #35c66b;
}
.header-menu {
  display: none;
}
#cafe {
  padding-block: 20px;
}

.cafe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cafe-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 498px;
  width: 100%;
}
.cafe-box h1 {
  font-weight: 400;
  font-size: clamp(1.875rem, 1.148rem + 3.64vw, 3.875rem);
}
.cafe-btn {
  display: flex;
  gap: 15px;
}
.cafe-box p {
  max-width: 122px;
  width: 100%;
}

.cafe-block {
  display: flex;
  gap: 40px;
}
#have {
  padding-block: 30px;
}
.have {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100%;
  max-width: 950px;
  height: 321px;
  /* gap: 101px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 30px;

  p {
    color: rgba(0, 0, 0, 0.955);
    text-align: center;
  }
  h2 {
    color: rgba(0, 0, 0, 0.904);
    text-align: center;
  }
}
.box-block {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.boxKrug {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #35c66b;
}

#make {
  padding-block: 30px;
}
.make {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.makeTaxt {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 574px;
  width: 100%;
}
/* //! _________________________________________________> */
#products {
  padding-block: 30px;
}
.product {
  display: flex;
  justify-content: center;
  gap: 55px;
  max-width: 762px;
  width: 100%;
}
/* //? */
.productBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 30px;
  /* border-radius: 30px; */
}
/* .productBlock p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #35c66b;
}  */
.productBlock {
  width: 100%;
  height: 463px;
  max-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgba(239, 233, 233, 0.372);
  border-radius: 20px;
  padding-block: 40px;
}
.productBlock p {
  display: flex;
  text-align: center;
}
.productImg {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #35c66b;
}
.productBtn button{
  transition: 0.8s;
}
.productBtn button:hover {
  transform: scale(1.0);
}

/* //? */

/* //! _________________________________________________> */

#events {
  padding-block: 30px;
}
.events {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: column;
}
.event {
  display: flex;
  align-items: start;
  gap: 25px;
  max-width: 700px;
  width: 100%;
}
.eventBLock1 {
  display: flex;
  gap: 20px;
  padding-block: 20px;
}
.eventBLock2 {
  display: flex;
  gap: 20px;
}
#contacts {
  padding-block: 30px;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 570px;
  width: 100%;
}
.contactIcon {
  display: flex;
  flex-direction: column;
  /* //! */
  /* gap: 10px; */
}
.contactIcon h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  ion-icon {
    font-size: 30px;
  }
}

#footer {
  padding-block: 30px;
}
.footer {
  width: 100%;
  max-width: 360px;
  display: flex;
  align-items: center;
}
.footerF {
  display: flex;
  /* max-width: 640px; */
  /* width: 100%; */
  gap: 60px;
  padding-inline: 90px;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
  padding-block: 30px;
}
.footer h1 {
  font-size: clamp(1.188rem, 1.021rem + 0.83vw, 1.688rem);
  color: #35c66b;
}
.footerInfo a {
  font-size: clamp(1.625rem, 1.542rem + 0.42vw, 1.875rem);
}
